@import "_variable";

//Media Query
@mixin desktop(){
  @media(min-width: 768px){
    @content
  }
}

//Section Rule
@mixin secPadding {
  padding: 40px 0 60px;
}

@mixin secHeading {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;

  @include desktop {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}

@mixin secRead {
  display: inline-block;
  max-width: 600px;
  margin-bottom: 4rem;
}


//Title
@mixin title-border {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(127,91,90,.5);
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  color: $clr_brown;
  @include desktop {
    margin-bottom: 30px;
  }

}

//Button
@mixin btnIcon($color:white,$backgound:$clr_accent) {
  display: inline-block;
  margin-left: 5px;
  padding: 13px 20px;
  min-width: 180px;
  border-radius: 30px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: $color;
  background: $backgound;
  cursor: pointer;
  @include desktop {
    padding: 13px 25px;
    font-size: 1.7rem;
    font-weight: normal;
  }

  &:hover {
    opacity: .8;
  }
  i {
    margin-right: .2em;
    font-size: 1em;
    @include desktop {
      margin-right: .6em;
    }
  }
}