$clr_main: #04C3AE;

$clr_base: #004DA4;
$clr_baseDark: #024690;
$clr_baseWhite: #fff;

$clr_defaultBlack: #502516;
$clr_brown: #7F5B5A;

$clr_accent: #F07423;
$clr_bg-cream: #FBF7EA;
$clr_bg-orange: #FDE0C6;
$clr_bg-lightOrange: #FEECDC;
$clr_bg-Green: #E5E072;


$clr_twitter: #55ACEE;
$clr_facebook: #3B5998;