$clr_main: #04C3AE;

$clr_base: #004DA4;
$clr_baseDark: #024690;
$clr_baseWhite: #fff;

$clr_defaultBlack: #390E0C;

$clr_accent: #F07423;
$clr_bg-cream: #FBF7EA;


$clr_twitter: #55ACEE;
$clr_facebook: #3B5998;